@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:monospace
}
.title{
  line-height: 50px;
  font-family:monospace

}
.scoller{
    height: 200px;
    display: flex;
    gap: 25px;
    align-items: center;
  /* box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.1); */
  /* scrollbar-width: thin; */
  overflow-y: hidden;
    scrollbar-color: #7b7b7b transparent; 

}




