@import "tailwindcss";

:root {
  --background: #FFFBE9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFBE9;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:monospace
}
.title{
  line-height: 50px;
  font-family:monospace

}
.scoller{
    height: 200px;
    display: flex;
    gap: 25px;
    align-items: center;
  /* box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.1); */
  /* scrollbar-width: thin; */
  overflow-y: hidden;
    scrollbar-color: #7b7b7b transparent; 

}

.image-frame {
  position: relative;
  width:fit-content; /* Set the width and height to match your image */
  height: 100%;
}

.l-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top: 15px solid #FFDC5E; /* Top border */
  border-left: 15px solid #FFDC5E; /* Left border */
  border-radius: 5px; /* Adjust the radius for your desired curve */
  background-color: transparent;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 0% 100%);
  z-index: 1; /* Make sure the border is on top of the image */
}
.l-border-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-bottom: 15px solid #FFDC5E; /* Top border */
  border-right: 15px solid #FFDC5E; /* Left border */
  border-radius: 5px; /* Adjust the radius for your desired curve */
  background-color: transparent;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 0% 100%);
  z-index: 1; /* Make sure the border is on top of the image */
}

/* .l-border::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #007bff; 
  border-right: 5px solid #007bff; 
  border-top: none;
  border-left: none;
  border-radius: 0 0 15px 0; 
} */

.image-frame img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2; /* Make sure the image is above the border */
}



