.short-menu-btn {
    visibility: hidden;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .coverImg {
        width: 100vw;
    }

    .coverImg-tag {
        width: 92%;
    }
    .short-menu{
        position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100vw;
    z-index: 99;
    }
   .short-menu nav{
    justify-content: center;
    width: 100vw;
    align-items: center;
    height: 100vh;
    font-size: 3rem;
    color: white;
    }
    .short-menu button{
        position: absolute;
        top: 0;
        left: 0;
    }
    .cover-main {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem;
        gap: 1rem;
        justify-content: center;
        min-height: unset;
        height: 90vh;
        flex-direction: column;
    }

    .cover-main h1 {
        font-size: 4rem;
    }

    .Title-Content {
        width: 100%;
        height: 100vh;
    }

    .testimonial p {
        font-size: x-large;
        text-align: center;
    }

    .big-menu {
        display: none;
    }

    .article-content {
        width: 60vw;
    }

    .knowMemore {
        gap: 2rem;
    }

    .short-menu-btn {
        visibility: visible;
        position: absolute;
        top: 0;
        z-index: 99;
    }

    .know-me-cover {
        height: 100%;
    }

    .work-frames {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 70%;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: auto;


    }
.work-main{
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
}
    .image-frame {
        height: 60%;
    }

    .image-frame h1 {
        font-size: large
    }

    .image-frame p {
        font-size: small;
    }

    .work-frame-Img {
        height: 100px !important;
    }
.whoamI-main{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 100px;
    position: relative;
   
}
.whoamI-main h1{
    position: absolute;
    top: 5%;
}

    .whoamI {

        flex-direction: column;
        margin-top: 35%;
    }

    .whoamI-card {
        position: absolute;
        top: -25%;
        left: 0;
        right: 0;
        width: 100vw;
        height: max-content;
        z-index: -1;
    }

    .whoamI-Img {
        width: 50vw;
        height: 30vh;
        border-radius: 100%;

    }

    /* .testimonial{
    justify-content:end;
} */
    .slideshow{
       display: flex;
       align-items: end;

}
    .testimonial-main {
        position: absolute;
        top: 0;
        display: flex;
        width: 100vw;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
    }
    .testimonial{
        width: 100%;
        display: flex;
        align-items: start;
        height: max-content;
        justify-content: flex-start;
    }

    .myJourney-gallery {
        display: flex;
        flex-direction: column;
        width: 95vw;
        overflow: hidden;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }

    .myJourney-gallery-card {
        width: 100%;
    }

    .myJourney-title-Img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        padding: unset;
    }

    .myJourney-title {
        height: 100vh;
        overflow: hidden;
        padding: unset;
        position: relative;
        background-color: rgba(0, 0, 0, 0, 0.5);

    }

    .myJourney-title-Img-tag {
        height: 100%;
        opacity: 0.6;
        padding: unset;

    }

    .myJourney-caption {
        position: absolute;
        top: 0;
        z-index: 80;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0, 0.8);
    }

    .myJourney-caption h1 {
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
}